<section class="qa-form admin-forms">
{{ form_start(setmenuForm) }}
    <h1>{{ label | default('Ajouter') }} une Formule</h1>
    {{ form_row(setmenuForm.title, { 'row_attr': {'class': 'form-input'} }) }}
    {{ form_row(setmenuForm.summary, { 'row_attr': {'class': 'form-input'} }) }}
    {{ form_row(setmenuForm.price, { 'row_attr': {'class': 'form-input'} }) }}
    {{ form_row(setmenuForm.courseCategory, { 'row_attr': {'class': 'form-input'} }) }}

    <button class="qa-button qa-button-std" type="submit">{{ label | default('Ajouter') }} la Formule</button>
{{ form_end(setmenuForm) }}
</section>