{{ form_start(setmenuForm) }}
    {{ form_row(setmenuForm.title) }}
    {{ form_row(setmenuForm.summary) }}
    {{ form_row(setmenuForm.price) }}
    {{ form_row(setmenuForm.courseCategory) }}

    <button type="submit">{{ label | default('Ajouter') }} la Formule</button>
{{ form_end(setmenuForm) }}
