<section class="qa-form admin-forms">
  {{ form_start(courseForm) }}
  <h1>{{ label | default('Ajouter') }} un Plat</h1>
    {{ form_row(courseForm.title, { 'row_attr': {'class': 'form-input'} }) }}
    {{ form_row(courseForm.summary, { 'row_attr': {'class': 'form-input'} }) }}
    <div class="form-couple">
      {{ form_row(courseForm.price, { 'row_attr': {'class': 'form-input'} }) }}
      {{ form_row(courseForm.category, { 'row_attr': {'class': 'form-input'} }) }}
    </div>

    <button class="qa-button qa-button-std" type="submit">{{ label | default('Ajouter') }} le plat</button>
  {{ form_end(courseForm) }}
</section>