{{ form_start(setmenuForm) }}
    {{ form_row(setmenuForm.title) }}
    {{ form_row(setmenuForm.picture) }}


    <button type="submit">{{ label | default('Ajouter') }} l'Image</button>
{{ form_end(setmenuForm) }}
