<section class="qa-form admin-forms hours-form">
    {{ form_start(hoursForm) }}
    <h1>{{ label | default('Ajouter') }} les Horaires</h1>
    {% for groups in hoursForm|batch(8)%}
        {% if loop.index0 < 7 %}
        <fieldset>
            <legend class="font-large">{{ labels[loop.index - 1] }}</legend>
            {% for inputs in groups|batch(4) %}
                <div class="period">
                    <p>{% if loop.index == 1 %} Midi {% else %} Dinner {% endif %}</p>
                {% for input in inputs %}
                    {{ form_row(input, { 'row_attr': {'class': 'form-input'} }) }}
                {% endfor %}
                </div>
            {% endfor %}
        </fieldset>
        {% endif %}
    {% endfor %}

        <button class="qa-button qa-button-std" type="submit">{{ label | default('Ajouter') }} les Horaires</button>
    {{ form_end(hoursForm) }}
</section>